<html>
    <head>
        <title>Add Book</title>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <div class="header_container">
            <table>
                <tr>
                    <td><a href="/">Home</a></td>
                    <td><a href="/adddoctor">Add Doctor</a></td>
                    <td><a href="/listdoctors">All Doctors</a></td>
                    <td><a href="/addpatient">Add Patient</a></td>
                    <td><a href="/listpatients">All Patients</a></td>
                    <td><a href="/deletepatient">Delete Patient</a></td>
                    <td><a href="/updatenumpatients">Update Patients</a></td>
                </tr>
            </table>
        </div>
        <div class="content_container">

        <h1>Delete patient by name</h1>
        <form action="postdeletepatient" method="POST">
            <table>
                <tr>
            <td>First name</td> <td><input type="text" name="firstName" /></td>
        </tr>
        <tr>
            <td>Last name</td> <td><input type="text" name="lastName" /></td>
        </tr>
        <tr>
            <td><button>Delete</button></td>
        </tr>
        </table>
        </form>
    </div>
</body>
</html>