<html>
    <head>
        <title>Invalid Data</title>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <table>
            <tr>
                <td><a href="/">Home</a></td>
                <td><a href="/addbook">Add Book</a></td>
                <td><a href="/listbooks">All Books</a></td>
            </tr>
        </table>
        <h1>Invalid data</h1>
        <p> The data entered was invalid. <a href="/addbook">Return to add book.</a></p>
        <p><a href="/">Return to homepage</a></p>
    </body>
</html>