<html>
    <head>
        <title>Add Book</title>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <div class="header_container">
            <table>
                <tr>
                    <td><a href="/">Home</a></td>
                    <td><a href="/adddoctor">Add Doctor</a></td>
                    <td><a href="/listdoctors">All Doctors</a></td>
                    <td><a href="/addpatient">Add Patient</a></td>
                    <td><a href="/listpatients">All Patients</a></td>
                    <td><a href="/deletepatient">Delete Patient</a></td>
                    <td><a href="/updatenumpatients">Update Patients</a></td>
                </tr>
            </table>
        </div>
        <div class="content_container">

        <h1>Add Doctor</h1>
        <form action="postnewdoctor" method="POST">
            <table>
                <tr>
            <td>First name</td> <td><input type="text" name="firstName" /></td>
        </tr>
        <tr>
            <td>Last name</td> <td><input type="text" name="lastName" /></td>
        </tr>
        <tr>
            <td>Date of Birth</td> <td><input type="number" name="day" size="1" placeholder="DD"/>
                 / <input type="number" name="month" size="1" placeholder="MM"/> 
                 / <input type="number" name="year" size="3" placeholder="YYYY"/></td>
        </tr>
        <tr>
            <td>Address</td>
        </tr>
        <tr>
            <td>&nbsp State</td> <td><input type="text" name="state" /></td>
        </tr>
        <tr>
            <td>&nbsp Suburb</td> <td><input type="text" name="suburb" /></td>
        </tr>
        <tr>
            <td>&nbsp Street</td> <td><input type="text" name="street" /></td>
        </tr>
        <tr>
            <td>&nbsp Unit</td> <td><input type="text" name="unit" /></td>
        </tr>
        <tr>
            <td>Number of Patients</td> <td><input type="text" name="numPatients" /></td>
        </tr>
        <tr>
            <td><button>Submit</button></td>
            </tr>
        </table>
        </form>
    </div>
    </body>
</html>