<html>
    <head>
        <title>Home</title>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <div class="header_container">
            <table>
                <tr>
                    <td class="header"><a href="/">Home</a></td>
                    <td class="header"><a href="/addbook">Add Book</a></td>
                    <td class="header"><a href="/listbooks">All Books</a></td>
                    <td class="header"><a href="/deletebytopic">Delete</a></td>
                    <td class="header"><a href="/updatetitle">Update Title</a></td>
                </tr>
            </table>
        </div>
        <div class="content_container">

        <p><a href="/addbook">Add New Book</a></p>
        <p><a href="/listbooks">List All Books</a></p>
    </div>
    <div style="background-image: url('chook.jpg');">
        <p style="color:rgb(248, 248, 248);">Look at my chickens</p>
        <p style="color:rgb(248, 248, 248);">Look at my chickens</p>
        <p style="color:rgb(248, 248, 248);">Look at my chickens</p>
        <p style="color:rgb(248, 248, 248);">Look at my chickens</p>
        <p style="color:rgb(248, 248, 248);">Look at my chickens</p>
        <p style="color:rgb(248, 248, 248);">Look at my chickens</p>
        <p style="color:rgb(248, 248, 248);">Look at my chickens</p>
        <p style="color:rgb(248, 248, 248);">Look at my chickens</p>
        <p style="color:rgb(248, 248, 248);">Look at my chickens</p>
        <p style="color:rgb(248, 248, 248);">Look at my chickens</p>
        <p style="color:rgb(248, 248, 248);">Look at my chickens</p>
        <p style="color:rgb(248, 248, 248);">Look at my chickens</p>
        <p style="color:rgb(248, 248, 248);">Look at my chickens</p>
        <p style="color:rgb(248, 248, 248);">Look at my chickens</p>
        <p style="color:rgb(248, 248, 248);">Look at my chickens</p>
        <p style="color:rgb(248, 248, 248);">Look at my chickens</p>
        <p style="color:rgb(248, 248, 248);">Look at my chickens</p>
        <p style="color:rgb(248, 248, 248);">Look at my chickens</p>
        <p style="color:rgb(248, 248, 248);">Look at my chickens</p>
        <p style="color:rgb(248, 248, 248);">Look at my chickens</p>
        <p style="color:rgb(248, 248, 248);">Look at my chickens</p>
        <p style="color:rgb(248, 248, 248);">Look at my chickens</p>
        <p style="color:rgb(248, 248, 248);">Look at my chickens</p>
</div>
    </body>
</html>